<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Trang chủ</a>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Hiệp Đức
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/create">Đăng khoá học</a></li>
              <li><a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a></li>
              <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
              <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>