<div class="mt-5">
    <form method="post" action="/search">
        <div class="form-group mb-3">
            <label for="search-input" class="form-label">Keyword</label>
            <input type="text" name="full_name" class="form-control" placeholder="Full Name" >
            <input type="text" name="age" class="form-control" placeholder="Age" >
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keyword" >
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>